<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/style3.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>DASHBOARD | inkSync</title>
  </head>
<body>
<div class="dashboard-container">

        <div> 
            <h1>Student Details</h1>
        </div> 
        <div class="student-details">

            <div class="name">
                <label for="name">Name:</label><br>
            </div>
            <br>
            <div class="college">
                <label for="College"> Student of:</label><br>

            </div>
            <br>
            <div class="regis">
                <label for="regis"> Registration no.:</label><br>

            </div><br>

            <div class="together">
                <span name="together"><label for="email">Email Id:</label>
                    <br>
                    <br><label for="mobile">Phone no.:</label></span>

            </div>
            <hr>
            <div class="section2">
                <h3>Field of interest</h3><h4>max.5</h4>
                <select name="language" class="custom-select" multiple>
                    <option value="Cricket">Cricket</option>
                    <option value="chess">Chess</option>
                    <option value="hack">HAckthone</option>
                    <option value="swim">Swimming</option>
                    <option value="batminton">Batminton</option>
                    <option value="run">Running</option>
                    <option value="tug">Tug of war</option>

                  </select>
            </div>
           
        </div>
        
        </div>
</div>

    </container>
    
    <script src="js/script.js"></script>
</body>
</html>
