<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Sign-up Page|GSEG</title>
  </head>

  <body>
    <section>
      <div class="login-modal">
        <div class="login-form">
          <div class="login-content">
            <h1 class="title">Sign-up</h1>
            <h3 class="subtitle">Welcome!, Please enter your details.</h3>
            <div class="email-input">
              <span class="input-title">Email</span>
              <input
                class="input"
                type="email"
                placeholder="Enter your email"
              />
            </div>
            <div class="password-input">
              <span class="input-title">Password</span>
              <input class="input" type="password" placeholder="********" />
            </div>
            <div class="password-input">
                <span class="input-title">Confirm Password</span>
                <input class="input" type="password" placeholder="********" />
            </div>
            <div class="dropdown">
                <form name="form1" id="form1" action="#">
                    <span class="input-title">College:</span> <select name="subject" id="subject">
                      <option value="" selected="selected"> K.D.K. College of Engineering</option>
                      <option value="" selected="selected"> G.H. Raisono College of management</option>
                      <option value="" selected="selected"> Womens College, Nagpur</option>
                      <option value="" selected="selected"> Swaminarayan Siddharth Inst. of Tech.</option>
                      <option value="" selected="selected"> ANY HIGHSCHOOL</option>
                    </select>
                    <br><br>
              </div>
              <div class="regis-input">
                <span class="input-title">Registration ID</span>
                <br>
                <input
                  class="input"
                  type="email"
                  placeholder="Enter your registration no."
                />
                <br> <br>
                <div class="Roll-input">
                    <span class="input-title">Roll-NO.</span>
                    <input
                      class="input"
                      type="Number"
                      placeholder="Enter your Roll No."
                    />
                  </div>
              </div>
              <div class="email-input">
                <span class="input-title">College Email</span>
                <input
                  class="input"
                  type="email"
                  placeholder="abc@xyz.com"
                />
              </div>
              <div class="email-input">
                <span class="input-title">Contact No.</span>
                <input
                  class="input"
                  type="tel"
                  placeholder="Enter your number"
                />
              </div>

            <button class="btn btn-primary">Sign up!</button>
            
            
          </div>
        </div>
      </div>
    </sectioption
  </body>
</html>
